.shadow {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.white-background {
	-fx-background-color: #FFFFFF;
	-fx-border-color: transparent;
	-fx-background-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-left-pane {
	-fx-background-color: rgba(124, 168, 116, 0.55);
	-fx-border-color: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane {
	-fx-background-color: transparent;
	-fx-border-color: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane-top-bar {
	-fx-background-color: #454545;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 10 10 0 0;
}

.datetime-pane {
	-fx-background-color: linear-gradient(to right, #0575e6, #021b79);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.datetime-pane:hover {
	-fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 18, 0, 0, 0);
}

.date-text .text {
	-fx-fill: #F0EDD4; /*white */
    -fx-font-family: "Open Sans ExtraBold";
    -fx-font-size: 24;
}

.date-textHover .text {
	-fx-fill: #100F0F; /*white */
	-fx-font-size: 27;
	-fx-font-family: "Open Sans ExtraBold";
}

.time-text .text {
	-fx-fill: #F0EDD4; /*white */
    -fx-font-family: "Open Sans";
    -fx-font-size: 20;
}

.time-textHover .text {
	-fx-fill: #100F0F;
	-fx-font-size: 23;
	-fx-font-family: "Open Sans";
}

.employee-pane {
	-fx-background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.employee-pane:hover {
	-fx-background-color: linear-gradient(to right, #3e5151, #decba4);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 18, 0, 0, 0);
}

.employee-text .text {
	-fx-fill: #F0EDD4; /*white */
    -fx-font-family: "Open Sans ExtraBold";
    -fx-font-size: 20;
}

.employee-textHover .text {
	-fx-fill: #FF6701;
	-fx-font-size: 24;
	-fx-font-family: "Open Sans ExtraBold";
}

.top-right-pane-tab1-active {
	-fx-font-size:13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-background-color: #FF6969;
	-fx-background-radius: 6 6 0 0;
	-fx-text-fill: #454545;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane-tab2-active {
	-fx-font-size:13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-background-color: #EBB02D;
	-fx-background-radius: 6 6 0 0;
	-fx-text-fill: #454545;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane-tab-inactive {
	-fx-font-size:13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-background-color: #454545;
	-fx-text-fill: #FEFAE0;
	-fx-background-radius: 6 6 0 0;
}

.top-right-pane-tab-inactive:hover {
	-fx-background-color: #787777;
	-fx-cursor: hand;
}

.photo-frame {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:1.5;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.photo-frame:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 12, 0, 0, 0);
}

.nophoto-frame {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:1;
	-fx-border-color: black;
	-fx-background-color: #2C3333;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.nophoto-frame:hover {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:1;
	-fx-border-color: black;
	-fx-background-color: rgba(65, 74, 74, 0.85);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 12, 0, 0, 0);
	-fx-cursor: hand;
}

.changePhotoPane{
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:0;
	-fx-border-color: transparent;
	-fx-background-color: rgba(249, 251, 231, 0.9);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 12, 0, 0, 0);
}

.textField{
	-fx-background-color: #526D82;
	-fx-background-radius: 8;
	-fx-border-radius: 5;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-font-size: 13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-text-fill: #F6F1E9;
}

.textField:focused{
	-fx-border-width: 2;
	-fx-border-color: linear-gradient(to right, #00c6ff, #0072ff);
	-fx-background-color: #F6F1E9;
	-fx-text-fill: black;
}

.employeePaneText {
	-fx-font-family: "Tahoma";
	-fx-font-size: 13;
}

.removeUserButton {
	-fx-border-width: 0;
	-fx-border-color: transparent;
	-fx-background-color: transparent;
	-fx-background-radius: 13;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.removeUserButton:hover {
	-fx-cursor: hand;
	-fx-background-color: rgba(215, 252, 10, 0.3);
}

.genderPane {
	-fx-background-color: linear-gradient(to bottom, #ede574, #e1f5c4);
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 17;
	-fx-text-fill: black;
	-fx-font-family: "Open Sans Extra Bold";
	-fx-font-size: 14;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.genderPane:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 12, 0, 0, 0);
}

.searchbar {
	-fx-background-radius: 15;
	-fx-border-radius: 15;
	-fx-border-width: 1;
	-fx-border-color: black;
	-fx-focus-color: transparent;
	-fx-font-family: "Arial";
	-fx-font-size: 14;
	-fx-text-fill: black;
	-fx-background-color: rgb(238, 226, 222, 0.75);
}

.searchbar:focused, .searchbar:hover{
	-fx-background-color: white;
	-fx-border-width: 2;
	-fx-focus-color: transparent;
	-fx-border-color: linear-gradient(to right, #00d2ff, #3a7bd5);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 2, -2);
}

.maximizeIcon:hover {
	-fx-background-color: rgba(199, 188, 161, 0.35);
	-fx-cursor: hand;
}

.rowNumberPane {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 2, -2);
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 15;
	-fx-background-color: linear-gradient(to right, #dce35b, #45b649);
}

.refreshBtn:hover {
	-fx-background-color: rgba(215, 252, 10, 0.3);
	-fx-background-radius: 5;
	-fx-cursor: hand;
}

.filterCell {
	-fx-font-family: "Arial";
	-fx-text-fill: #181823;
	-fx-font-size: 13;
	-fx-border-width: 1;
	-fx-border-radius: 10;
	-fx-background-radius:10;
	-fx-background-color: rgba(165, 194, 4, 0.55);
	-fx-border-color: rgb(92, 107, 7);
	-fx-padding: 2 5 2 5;
}


.table-view {
	-fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to right, #add10085, #7b920a90);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 5 0;
}

.table-view .column-header .label {
	-fx-font-size: 13;
	-fx-font-family: "Open Sans ExtraBold";
  	-fx-text-fill:  #FF6969;
  	-fx-padding: 5 0 0 0;
}

.my-column-header-style .label {
 	-fx-alignment: CENTER_LEFT;
}

.table-view .column-header {
	-fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent; 
    -fx-text-background-color: black;
}

.table-row-cell:odd{
    -fx-background-color: #C6DE4155;
}

.table-row-cell:even{
    -fx-background-color: #F6F1F155;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to right, #ffe00085, #799f0c85); 
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #ffe00085, #799f0c85); 
}

.table-row-cell:focused{
    -fx-effect: none;
}

.table-row-cell:selected {
   -fx-background-color: #3E8E7E;
}

.table-row-cell:hover {
	-fx-background-color: #C6DE4185;
}

.addBtn {
	-fx-background-color: linear-gradient(to left, #56ccf2, #2f80ed);
	-fx-background-radius: 3 10 3 5;
	-fx-border-radius: 3 10 3 5;
	-fx-border-color: linear-gradient(to top, #007991, #78ffd6);
	-fx-border-width: 2;
}