.shadow {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.white-background {
	-fx-background-color: #FFFFFF;
	-fx-border-color: transparent;
	-fx-background-radius: 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-left-pane {
	-fx-background-color: rgba(124, 168, 116, 0.55);
	-fx-border-color: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane {
	-fx-background-color: transparent;
	-fx-border-color: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-border-width: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane-top-bar {
	-fx-background-color: #454545;
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 10 10 0 0;
}

.datetime-pane {
	-fx-background-color: linear-gradient(to right, #0575e6, #021b79);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.datetime-pane:hover {
	-fx-background-color: linear-gradient(to right, #00c6ff, #0072ff);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 18, 0, 0, 0);
}

.date-text .text {
	-fx-fill: #F0EDD4; /*white */
    -fx-font-family: "Open Sans ExtraBold";
    -fx-font-size: 24;
}

.date-textHover .text {
	-fx-fill: #100F0F; /*white */
	-fx-font-size: 27;
	-fx-font-family: "Open Sans ExtraBold";
}

.time-text .text {
	-fx-fill: #F0EDD4; /*white */
    -fx-font-family: "Open Sans";
    -fx-font-size: 20;
}

.time-textHover .text {
	-fx-fill: #100F0F;
	-fx-font-size: 23;
	-fx-font-family: "Open Sans";
}

.employee-pane {
	-fx-background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.employee-pane:hover {
	-fx-background-color: linear-gradient(to right, #3e5151, #decba4);
	-fx-border-color: transparent;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 18, 0, 0, 0);
}

.employee-text .text {
	-fx-fill: #F0EDD4; /*white */
    -fx-font-family: "Open Sans ExtraBold";
    -fx-font-size: 20;
}

.employee-textHover .text {
	-fx-fill: #FF6701;
	-fx-font-size: 24;
	-fx-font-family: "Open Sans ExtraBold";
}

.top-right-pane-tab1-active {
	-fx-font-size:13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-background-color: #FF6969;
	-fx-background-radius: 6 6 0 0;
	-fx-text-fill: #454545;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane-tab2-active {
	-fx-font-size:13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-background-color: #EBB02D;
	-fx-background-radius: 6 6 0 0;
	-fx-text-fill: #454545;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.top-right-pane-tab-inactive {
	-fx-font-size:13;
	-fx-font-family: "Open Sans SemiBold";
	-fx-background-color: #454545;
	-fx-text-fill: #FEFAE0;
	-fx-background-radius: 6 6 0 0;
}

.top-right-pane-tab-inactive:hover {
	-fx-background-color: #787777;
	-fx-cursor: hand;
}

.photo-frame {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:1.5;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.nophoto-frame {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:1.5;
	-fx-border-color: black;
	-fx-background-color: #b9baab;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 6, 0, 0, 0);
}

.nophoto-frame:hover {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-border-width:1.5;
	-fx-border-color: black;
	-fx-background-color:  #F9FBE7;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 12, 0, 0, 0);
	-fx-cursor: hand;
}

.employeePaneText {
	-fx-font-family: "Tahoma";
	-fx-font-size: 13;
}

.employeePaneInput {
	-fx-font-size: 14;
	-fx-font-family: "Arial";
}